@{
    ViewData["Title"] = "About";
}

<section>
    <div class="row text-c">
        <div class="col-12 col-md-12">
            <h2 class="p-b-md">Справочная информация</h2>
            <div>
                <a href="#">
                    <img src="~/img/about.jpg" />
                </a>
            </div>
            <div class="row" style="margin: 0;">
                <div class="about-item col-12 col-sm-6 col-md-4">
                    <div class="flex-row">
                        <a href="#">
                            <img src="~/img/about1.svg" />
                            <span>Заказ и бронирование авиабилетов</span>
                        </a>
                    </div>
                </div>
                <div class="about-item col-12 col-sm-6 col-md-4">
                    <div class="flex-row">
                        <a href="#">
                            <img src="~/img/about2.svg" />
                            <span>Как купить дешевые авиабилеты</span>
                        </a>
                    </div>
                </div>
                <div class="about-item col-12 col-sm-6 col-md-4">
                    <div class="flex-row">
                        <a href="#">
                            <img src="~/img/about1.svg" />
                            <span>Заказ и бронирование авиабилетов</span>
                        </a>
                    </div>
                </div>
                <div class="about-item col-12 col-sm-6 col-md-4">
                    <div class="flex-row">
                        <a href="#">
                            <img src="~/img/about2.svg" />
                            <span>Как купить дешевые авиабилеты</span>
                        </a>
                    </div>
                </div><div class="about-item col-12 col-sm-6 col-md-4">
                    <div class="flex-row">
                        <a href="#">
                            <img src="~/img/about1.svg" />
                            <span>Заказ и бронирование авиабилетов</span>
                        </a>
                    </div>
                </div>
                <div class="about-item col-12 col-sm-6 col-md-4">
                    <div class="flex-row">
                        <a href="#">
                            <img src="~/img/about2.svg" />
                            <span>Как купить дешевые авиабилеты</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
   
</section>

<section class="about-question">
    <div class="about-question-block">
        <h3>Авиабилеты</h3>
        <ul>
            <li>
                <a data-toggle="collapse" href="#с_ticket_1" role="button" aria-expanded="false" aria-controls="с_ticket_1">Мне не пришёл билет, как мне его получить?</a>
                <div class="collapse" id="с_ticket_1">
                    <div class="card card-body">
                        <p>
                            В случае, когда при вводе данных на сайте партнера вы указали неправильный или неработающий e-mail, советуем ознакомиться со списком агентств на странице. Также вы можете вспомнить, у кого вы покупали билеты, по выписке из банка или по SMS (там указано, кто получатель платежа за билеты), а также по истории переходов в вашем браузере.
                        </p>
                        <p>
                            Найдите агента, у которого бронировали билет и созвонитесь с ним.
                        </p>
                        <p>
                            Назовите имя и фамилию, даты маршрута и направление. Оператор найдет вашу бронь и отправит маршрутную квитанцию на новый e-mail.
                        </p>
                    </div>
                </div>
            </li>
            <li>
                <a data-toggle="collapse" href="#с_ticket_2" role="button" aria-expanded="false" aria-controls="с_ticket_2">Как поменять дату вылета?</a>
                <div class="collapse" id="с_ticket_2">
                    <div class="card card-body">
                        <p>
                            Для того, чтобы сделать возврат авиабилета или его перебронировать, вам необходимо связаться с агентством, у которого вы заказали авиаперелёт.
                        </p>
                        <p>
                            Проверьте почтовый ящик, указанный при бронировании, найдите письмо от партнера с данными о маршруте, в нем указаны контакты вашего агентства. Письмо приходит в день бронирования и если вы не обнаружили письма, проверьте спам-папку.
                        </p>
                        <p><b>Напоминаем. По вопросам возврата и перебронирования авиабилетов обращайтесь в ваше агентство.</b></p>
                    </div>
                </div>
            </li>
            <li>
                <a data-toggle="collapse" href="#с_ticket_3" role="button" aria-expanded="false" aria-controls="с_ticket_3">Как купить билет на самолет без загранпаспорта?</a>
                <div class="collapse" id="с_ticket_3">
                    <div class="card card-body">
                        <p>
                            Часто бывает так, что срок действия паспорта уже истек или вы только подали документы на оформление первого в жизни заграна, но тут вы находите дешевые билеты. А соль в том, что на руках у вас нет актуальных паспортных данных. Так как же забронировать билеты по выгодной цене без загранпаспорта?
                        </p>
                        <p>
                            На самом деле большинству зарубежных авиакомпаний нужны лишь имя и фамилия на латинице, а также контактные данные (телефон, email, адрес). Очень редко запрашивается дата рождения. Совершенно точно без загранпапорта можно купить билеты в авиакомпаниях Lufthansa, EasyJet, AirBerlin и WizzAir.
                        </p>
                        <p>
                            Важно заметить, что у некоторых перевозчиков запрещены ошибки в написании имени. Ошибки особенно не простительны у азиатских авиакомпаний. В странах, использующих иероглифы, изменение одной буквы меняет весь смысл и звучание слова. Самые строгие в этом плане China Southern Airlines. Они вправе не пустить пассажира на борт самолета из-за неправильного написания имени. Также авиакомпания Vietnam Airlines не допускает ошибок в билете, но разрешает изменить данные при оплате штрафа в 15 евро. Однако изменения можно внести только в московском представительстве авиакомпании не позднее чем за 7 часов до вылета.
                        </p>
                    </div>
                </div>
            </li>
            <li>
                <a data-toggle="collapse" href="#с_ticket_4" role="button" aria-expanded="false" aria-controls="с_ticket_4">Как купить дешевые авиабилеты?</a>
                <div class="collapse" id="с_ticket_4">
                    <div class="card card-body">
                        <p>
                            В случае, когда при вводе данных на сайте партнера вы указали неправильный или неработающий e-mail, советуем ознакомиться со списком агентств на странице. Также вы можете вспомнить, у кого вы покупали билеты, по выписке из банка или по SMS (там указано, кто получатель платежа за билеты), а также по истории переходов в вашем браузере.
                        </p>
                        <p>
                            Найдите агента, у которого бронировали билет и созвонитесь с ним.
                        </p>
                        <p>
                            Назовите имя и фамилию, даты маршрута и направление. Оператор найдет вашу бронь и отправит маршрутную квитанцию на новый e-mail.
                        </p>
                    </div>
                </div>
            </li>
        </ul>
    </div>
    <div class="about-question-block">
        <h3>
            Все о перелетах
        </h3>
        <ul>
            <li>
                <a data-toggle="collapse" href="#с_about_1" role="button" aria-expanded="false" aria-controls="с_about_1">
                    Что такое чартерный рейс?
                </a>
                <div class="collapse" id="с_about_1">
                    <div class="card card-body">
                        <p>
                            В случае, когда при вводе данных на сайте партнера вы указали неправильный или неработающий e-mail, советуем ознакомиться со списком агентств на странице. Также вы можете вспомнить, у кого вы покупали билеты, по выписке из банка или по SMS (там указано, кто получатель платежа за билеты), а также по истории переходов в вашем браузере.
                        </p>
                        <p>
                            Найдите агента, у которого бронировали билет и созвонитесь с ним.
                        </p>
                        <p>
                            Назовите имя и фамилию, даты маршрута и направление. Оператор найдет вашу бронь и отправит маршрутную квитанцию на новый e-mail.
                        </p>
                    </div>
                </div>
            </li>
            <li>
                <a data-toggle="collapse" href="#с_about_2" role="button" aria-expanded="false" aria-controls="с_about_2">
                    Перелет с ребенком — чем занять и как успокоить ребенка в самолете?
                </a>
                <div class="collapse" id="с_about_2">
                    <div class="card card-body">
                        <p>
                            В случае, когда при вводе данных на сайте партнера вы указали неправильный или неработающий e-mail, советуем ознакомиться со списком агентств на странице. Также вы можете вспомнить, у кого вы покупали билеты, по выписке из банка или по SMS (там указано, кто получатель платежа за билеты), а также по истории переходов в вашем браузере.
                        </p>
                        <p>
                            Найдите агента, у которого бронировали билет и созвонитесь с ним.
                        </p>
                        <p>
                            Назовите имя и фамилию, даты маршрута и направление. Оператор найдет вашу бронь и отправит маршрутную квитанцию на новый e-mail.
                        </p>
                    </div>
                </div>
            </li>
            <li>
                <a data-toggle="collapse" href="#с_about_3" role="button" aria-expanded="false" aria-controls="с_about_3">
                    Как выбрать лучшие места в самолете?
                </a>
                <div class="collapse" id="с_about_3">
                    <div class="card card-body">
                        <p>
                            В случае, когда при вводе данных на сайте партнера вы указали неправильный или неработающий e-mail, советуем ознакомиться со списком агентств на странице. Также вы можете вспомнить, у кого вы покупали билеты, по выписке из банка или по SMS (там указано, кто получатель платежа за билеты), а также по истории переходов в вашем браузере.
                        </p>
                        <p>
                            Найдите агента, у которого бронировали билет и созвонитесь с ним.
                        </p>
                        <p>
                            Назовите имя и фамилию, даты маршрута и направление. Оператор найдет вашу бронь и отправит маршрутную квитанцию на новый e-mail.
                        </p>
                    </div>
                </div>
            </li>
            <li>
                <a data-toggle="collapse" href="#с_about_4" role="button" aria-expanded="false" aria-controls="с_about_4">
                    Бизнес-класс в самолете
                </a>
                <div class="collapse" id="с_about_4">
                    <div class="card card-body">
                        <p>
                            В случае, когда при вводе данных на сайте партнера вы указали неправильный или неработающий e-mail, советуем ознакомиться со списком агентств на странице. Также вы можете вспомнить, у кого вы покупали билеты, по выписке из банка или по SMS (там указано, кто получатель платежа за билеты), а также по истории переходов в вашем браузере.
                        </p>
                        <p>
                            Найдите агента, у которого бронировали билет и созвонитесь с ним.
                        </p>
                        <p>
                            Назовите имя и фамилию, даты маршрута и направление. Оператор найдет вашу бронь и отправит маршрутную квитанцию на новый e-mail.
                        </p>
                    </div>
                </div>
            </li>
            <li>
                <a data-toggle="collapse" href="#с_about_5" role="button" aria-expanded="false" aria-controls="с_about_5">
                    Часто задаваемые вопросы по перелетам
                </a>
                <div class="collapse" id="с_about_5">
                    <div class="card card-body">
                        <p>
                            В случае, когда при вводе данных на сайте партнера вы указали неправильный или неработающий e-mail, советуем ознакомиться со списком агентств на странице. Также вы можете вспомнить, у кого вы покупали билеты, по выписке из банка или по SMS (там указано, кто получатель платежа за билеты), а также по истории переходов в вашем браузере.
                        </p>
                        <p>
                            Найдите агента, у которого бронировали билет и созвонитесь с ним.
                        </p>
                        <p>
                            Назовите имя и фамилию, даты маршрута и направление. Оператор найдет вашу бронь и отправит маршрутную квитанцию на новый e-mail.
                        </p>
                    </div>
                </div>
            </li>
            <li>
                <a data-toggle="collapse" href="#с_about_6" role="button" aria-expanded="false" aria-controls="с_about_6">
                    Правила поведения в самолете
                </a>
                <div class="collapse" id="с_about_6">
                    <div class="card card-body">
                        <p>
                            В случае, когда при вводе данных на сайте партнера вы указали неправильный или неработающий e-mail, советуем ознакомиться со списком агентств на странице. Также вы можете вспомнить, у кого вы покупали билеты, по выписке из банка или по SMS (там указано, кто получатель платежа за билеты), а также по истории переходов в вашем браузере.
                        </p>
                        <p>
                            Найдите агента, у которого бронировали билет и созвонитесь с ним.
                        </p>
                        <p>
                            Назовите имя и фамилию, даты маршрута и направление. Оператор найдет вашу бронь и отправит маршрутную квитанцию на новый e-mail.
                        </p>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</section>