<div>
    <h3>изменение данных бонусной карты</h3>
    <form method="post">
<input type ="hidden" value="@ViewBag.BonusCardId" name="Id"/>
        <div>bonusBalance<input type="text" name="Balance"/></div>
        <div>BonusPersent<input type="number" name="BonusPersent"/></div>
        <p>
            <input type="submit" value="Send"/>
        </p>
</form>
</div>
