<section>
    <div class="row">
        <div class="col-xs-12 col-md-10 offset-md-1">
            <div>
                <h2 class="t5 bold text-c p-b-sm">
                    Куда полететь? Когда билеты на самолет дешевле? Как отслеживать цены на авиабилеты?
                </h2>
                <div class="font-md text-c">Выберите направление и даты с самым дешевым перелетом на карте или календаре низких цен, а в личном кабинете вас ждут конкурсы и эксклюзивные скидки от партнеров.</div>
            </div>
        </div>
    </div>
    <div class="row p-t-lg p-b-lg">
        <div class="col-xs-6 col-md-3">
            <div class="services-promo__feature bg4 flex-column">
                <div class="text-c">
                    <img src="~/img/illustration_calendar.svg" />
                </div>
                <h5>Календарь</h5>
                <div>Узнайте, в какие даты авиабилеты дешевле</div>
                <a href="#" class="btn btn-sm btn-white2 uppercase">Проверить даты</a>
            </div>
        </div>
        <div class="col-xs-6 col-md-3">
            <div class="services-promo__feature bg4 flex-column">
                <div class="text-c">
                    <img src="~/img/illustration_calendar.svg" />
                </div>
                <h5>Календарь</h5>
                <div>Узнайте, в какие даты авиабилеты дешевле</div>
                <a href="#" class="btn btn-sm btn-white2 uppercase">Проверить даты</a>
            </div>
        </div>
        <div class="col-xs-6 col-md-3">
            <div class="services-promo__feature bg4 flex-column">
                <div class="text-c">
                    <img src="~/img/illustration_calendar.svg" />
                </div>
                <h5>Календарь</h5>
                <div>Узнайте, в какие даты авиабилеты дешевле</div>
                <a href="#" class="btn btn-sm btn-white2 uppercase">Проверить даты</a>
            </div>
        </div>
        <div class="col-xs-6 col-md-3">
            <div class="services-promo__feature bg4 flex-column">
                <div class="text-c">
                    <img src="~/img/illustration_calendar.svg" />
                </div>
                <h5>Календарь</h5>
                <div>Узнайте, в какие даты авиабилеты дешевле</div>
                <a href="#" class="btn btn-sm btn-white2 uppercase">Проверить даты</a>
            </div>
        </div>
    </div>
</section>

<hr/>
@*<div class="row">
    <input type="button" />
    <input type="checkbox"/>
    <input type="date" />
    <button class="">asfsdfa</button>
    <input type="text" />
</div>*@

<section>
    <div class="row">
        <div class="col-xs-12 col-md-10 offset-md-1">
            <div>
                <div class="text-c">
                    <img src="~/img/title-icon.svg" />
                </div>

                <h4 class="t5 bold text-c p-t-sm p-b-sm">
                    Спецпредложения авиакомпаний
                </h4>
                <div class="font-md text-c">
                    Мы знаем, где купить авиабилеты дешево. Билеты на самолет в 220 стран мира.
                    Поиск и сравнение цен на авиабилеты среди 100 агентств и 728 авиакомпаний.
                </div>
            </div>
        </div>
    </div>
    <div class="row p-t-lg p-b-lg">
        <div class="col-xs-6 col-md-3">
            <div class="services-promo__feature bg4 flex-column text-c">
                <div class="text-c">
                    <img src="~/img/SU.png" />
                </div>
                <h5>Санкт-Петербург<span>&#9992;&#65039;</span>Красноярск</h5>
                <div class="uppercase bold p-sm">Осталось 10 дней</div>
                <div class="t6">Предложение действует c 22 декабря по 3 января</div>
                <a href="#" class="btn btn-sm btn-white2 uppercase">от 16 342 Р</a>
            </div>
        </div>
        <div class="col-xs-6 col-md-3">
            <div class="services-promo__feature bg4 flex-column text-c">
                <div class="text-c">
                    <img src="~/img/SU.png" />
                </div>
                <h5>Санкт-Петербург<span>&#9992;&#65039;</span>Красноярск</h5>
                <div class="uppercase bold p-sm">Осталось 10 дней</div>
                <div class="t6">Предложение действует c 22 декабря по 3 января</div>
                <a href="#" class="btn btn-sm btn-white2 uppercase">от 16 342 Р</a>
            </div>
        </div>
        <div class="col-xs-6 col-md-3">
            <div class="services-promo__feature bg4 flex-column text-c">
                <div class="text-c">
                    <img src="~/img/SU.png" />
                </div>
                <h5>Санкт-Петербург<span>&#9992;&#65039;</span>Красноярск</h5>
                <div class="uppercase bold p-sm">Осталось 10 дней</div>
                <div class="t6">Предложение действует c 22 декабря по 3 января</div>
                <a href="#" class="btn btn-sm btn-white2 uppercase">от 16 342 Р</a>
            </div>
        </div>
        <div class="col-xs-6 col-md-3">
            <div class="services-promo__feature bg4 flex-column text-c">
                <div class="text-c">
                    <img src="~/img/SU.png" />
                </div>
                <h5>Санкт-Петербург<span>&#9992;&#65039;</span>Красноярск</h5>
                <div class="uppercase bold p-sm">Осталось 10 дней</div>
                <div class="t6">Предложение действует c 22 декабря по 3 января</div>
                <a href="#" class="btn btn-sm btn-white2 uppercase">от 16 342 Р</a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-md-12 p-b-lg">
            <div class="text-c">
                <a href="#" class="btn btn-sm btn-white2 uppercase">&#128270; Все спецпредложения</a>
            </div>
        </div>
    </div>
</section>

<hr />

<section class="home-footer-items">
    <div class="row">
        <div class="col-xs-6 col-md-3">
            <div class="bold uppercase">Страны</div>
            <ul>
                <li><a href="#" class="l2">Россия</a></li>
                <li><a href="#" class="l2">Таиланд</a></li>
                <li><a href="#" class="l2">Черногория</a></li>
                <li><a href="#" class="l2">Кипр</a></li>
                <li><a href="#" class="l2">Болгария</a></li>
                <li><a href="#" class="l2">Грузия</a></li>
                <li><a href="#" class="l2">Беларусь</a></li>
                <li><a href="#" class="l2">Великобритания</a></li>
                <li><a href="#" class="l1-inv">Все страны &rarr;</a></li>
            </ul>
        </div>
        <div class="col-xs-6 col-md-3">
            <div class="bold uppercase">Страны</div>
            <ul>
                <li><a href="#" class="l2">Россия</a></li>
                <li><a href="#" class="l2">Таиланд</a></li>
                <li><a href="#" class="l2">Черногория</a></li>
                <li><a href="#" class="l2">Кипр</a></li>
                <li><a href="#" class="l2">Грузия</a></li>
                <li><a href="#" class="l2">Беларусь</a></li>
                <li><a href="#" class="l2">Великобритания</a></li>
                <li><a href="#" class="l1-inv">Все страны &rarr;</a></li>
            </ul>
        </div>
        <div class="col-xs-6 col-md-3">
            <div class="bold uppercase">Страны</div>
            <ul>
                <li><a href="#" class="l2">Россия</a></li>
                <li><a href="#" class="l2">Таиланд</a></li>
                <li><a href="#" class="l2">Черногория</a></li>
                <li><a href="#" class="l2">Кипр</a></li>
                <li><a href="#" class="l2">Болгария</a></li>
                <li><a href="#" class="l2">Грузия</a></li>
                <li><a href="#" class="l2">Кипр</a></li>
                <li><a href="#" class="l2">Болгария</a></li>
                <li><a href="#" class="l2">Грузия</a></li>
                <li><a href="#" class="l2">Беларусь</a></li>
                <li><a href="#" class="l2">Великобритания</a></li>
                <li><a href="#" class="l1-inv">Все страны &rarr;</a></li>
            </ul>
        </div>
        <div class="col-xs-6 col-md-3">
            <div class="bold uppercase">Страны</div>
            <ul>
                <li><a href="#" class="l2">Россия</a></li>
                <li><a href="#" class="l2">Таиланд</a></li>
                <li><a href="#" class="l2">Черногория</a></li>
                <li><a href="#" class="l2">Кипр</a></li>
                <li><a href="#" class="l2">Болгария</a></li>
                <li><a href="#" class="l2">Грузия</a></li>
                <li><a href="#" class="l2">Беларусь</a></li>
                <li><a href="#" class="l2">Великобритания</a></li>
            </ul>
        </div>
    </div>
</section>

