@{
    ViewData["Title"] = "Privacy Policy";
}

<section>
<div class="row">
    <div class="col-xs-12 col-md-10 offset-md-1">
        <h1 style="text-align: center;">Правила использования Сервиса поиска авиабилетов Aviasales</h1>
        <p style="text-align: center;">Актуальная редакция от 04 декабря 2020 года</p>
        <p>
            Перед использованием, пожалуйста, ознакомьтесь с условиями правил использования Сервиса поиска авиабилетов
            Aviasales.
            Факт использования Сервиса любым способом признается акцептом, то есть полным и безоговорочным согласием
            Пользователя использовать Сервис на изложенных ниже условиях.
        </p>
        <p><strong>1. Общие положения</strong></p>
        <p>
            1.1.&nbsp;Настоящие правила (далее — «Правила») определяют условия использования Сервиса поиска авиабилетов
            Aviasales,
            права на который принадлежат Компании Go Travel Un Limited, зарегистрированной в качестве юридического лица
            по
            законодательству Специального административного района Гонконг 18.08.2011, Свидетельство о регистрации
            №1658681,
            зарегистрированный офис которой находится по адресу: помещение 1504, 15/Ф, Чиначем Тауэр, 34-37 Коннаут Роад
            Сентрал, Гонконг (далее - «Владелец сервиса»).
        </p>
        <p>
            1.2.&nbsp;Под Сервисом поиска авиабилетов Aviasales (далее — «Сервис») в целях настоящих Правил понимается
            программный
            продукт, доступ к которому предоставляется на интернет-сайте по адресу <a href="http://aviasales.ru">http://aviasales.ru</a> и его прочих доменах, предназначенный для следующих
            целей:
        </p>
        <ul>
            <li>
                поиск и предоставление Пользователю на основании его запросов и функциональных возможностей Сервиса
                информации
                об авиабилетах и иных туристических услугах, предлагаемых к приобретению третьими лицами —
                авиакомпаниями,
                агентствами, системами бронирования, отелями и т.п., а также облегчение (автоматизация) процесса их
                приобретения
                (бронирования);
            </li>
            <li>
                отслеживание и предоставление Пользователю, оформившему подписку на почтовую рассылку Сервиса,
                статистической
                информации о стоимости авиабилетов на заданные направления и рекламной информации третьих лиц по
                электронным
                каналам связи, включая мессенджеры;
            </li>
            <li>
                предоставление Пользователю, авторизованному на Сервисе, возможности персонификации функциональных
                возможностей
                Сервиса, включая сохранение указанных Пользователем данных и настроек функций Сервиса;
            </li>
            <li>
                предоставление Пользователю для ознакомления информационных материалов о путешествиях в блоге Aviasales;
            </li>
            <li>
                предоставление Пользователю возможности участия в рекламных акциях и конкурсах, организованных
                Владельцем
                сервиса и/или его партнерами.
            </li>
        </ul>
        <p>
            1.3.&nbsp;Пользователь выражает свое полное и безоговорочное согласие, что использование Сервиса, а также любых
            его
            частей, любым способом подразумевает факт ознакомления Пользователя с настоящими Правилами и означает полное
            и
            безоговорочное согласие с их содержанием. Если Пользователь не принимает условия Правил в полном объёме, он
            обязан
            воздержаться от использования Сервиса.
        </p>
        <p>
            1.4. К настоящим Правилам и всем отношениям, связанным с использованием Сервиса, подлежит применению право
            Российской
            Федерации, если Пользователь и Владелец не договорятся об ином. Любые претензии или иски, вытекающие из
            настоящих
            Правил и/или использования Сервиса, должны быть поданы и рассмотрены согласно действующему законодательству
            Российской Федерации.
        </p>
        <p>
            1.5.&nbsp;Если по какой-либо причине одно или несколько положений Правил будут признаны недействительными или не
            имеющими
            юридической силы, это не оказывает влияния на действительность или применимость остальных положений Правил.
        </p>
        <p>
            1.6.&nbsp;Неотъемлемой частью настоящих правил является Соглашение об обработке и хранении персональных данных
            Пользователей (<a href="https://www.aviasales.ru/privacy" target="_blank">https://www.aviasales.ru/privacy</a>).
        </p>
        <p><strong>2. Использование Сервиса</strong></p>
        <p>
            2.1. Владелец сервиса безвозмездно, на условиях простой (неисключительной) лицензии, предоставляет
            Пользователю
            непередаваемое право использования Сервиса на территории всех стран мира по его прямому функциональному
            назначению и
            исключительно для целей, определённых в п. 1.2. Правил.
        </p>
        <p>
            2.2.&nbsp;Взаимодействие с Сервисом, в т.ч. формирование запросов Пользователя для поиска авиабилетов,
            осуществляется
            исключительно средствами предоставляемого Пользователям графического интерфейса Сервиса. Средствами Сервиса
            Пользователю предоставляется возможность ознакомиться с предложениями третьих лиц о ценах на авиабилеты по
            заданным
            направлениям и датам, а также получить ссылку для перехода на сайты указанных третьих лиц. В некоторых
            случаях
            программными средствами Сервиса Пользователю может быть предоставлена возможность заполнить данные,
            необходимые для
            приобретения авиабилетов, непосредственно на интернет-сайте Владельца сервиса и отправить их третьему лицу,
            реализующему авиабилеты, в целях совершения бронирования. Предоставляемые Сервисом ссылки на любой сайт
            третьего
            лица, продукт, услугу, любую информацию коммерческого или некоммерческого характера, в т.ч. предоставление
            указанного выше функционала Сервиса по заполнению Пользователем данных, необходимых для приобретения услуг,
            и
            отправке их третьему лицу, реализующему авиабилеты, в целях совершения бронирования, не является одобрением
            или
            рекомендацией данных продуктов (услуг, деятельности, лиц) со стороны Владельца сервиса.
        </p>
        <p>
            2.3. Покупка (оформление) авиабилетов и их оплата производится на веб-сайтах третьих лиц, предлагающих их к
            продаже.
            Пользователь уведомлен и подтверждает понимание того обстоятельства, что Владелец сервиса:
        </p>
        <ul>
            <li>
                не осуществляет продажу авиабилетов и не выступает посредником между Пользователем и третьим лицом,
                которое
                продает авиабилеты;
            </li>
            <li>
                не участвует во взаиморасчетах с Пользователем, не взимает с Пользователя денег за использование Сервиса
                или
                совершение им покупки авиабилетов, найденных с помощью Сервиса;
            </li>
            <li>
                не гарантирует и не несет ответственности за достоверность информации о предлагаемых к продаже третьими
                лицами
                авиабилетов, осуществление денежных трансферов, исполнение договоров перевозки и т.п.
            </li>
        </ul>
        <p>
            При возникновении спорных ситуаций относительно указанных обстоятельств Пользователь обязуется обращаться за
            их
            разрешением непосредственно к лицам, вступившим с Пользователем в отношения по продаже авиабилетов,
            перечислению
            денежных средств или перевозке.
        </p>
        <p>2.4. При использовании Сервиса Пользователь соглашается:</p>
        <ul>
            <li>
                не вмешиваться в работу Сервиса способами, следствием использования которых может быть нарушение его
                работоспособности, в том числе формировать запросы иначе как через пользовательский интерфейс;
            </li>
            <li>
                не использовать любые не авторизованные Владельцем сервиса программы или приложения для взаимодействия с
                Сервисом;
            </li>
            <li>
                не осуществлять модификацию, усовершенствование, перевод на другие языки, декомпилирование,
                дизассемблирование,
                декодирование, эмуляцию, нарушение целостности, восстановление исходного кода Сервиса или каких-либо его
                частей;
            </li>
            <li>не использовать Сервис в незаконных целях.</li>
        </ul>
        <p>
            2.5. Владелец сервиса вправе в любое время по своему усмотрению прекратить поддержку работоспособности
            Сервиса,
            изменить его функционал, а также запретить Пользователю, а Пользователь по указанному требованию обязан
            прекратить
            использование Сервиса.
        </p>
        <p>
            2.6.&nbsp;Средствами Сервиса Пользователю предоставляется возможность оформить подписки и получать по электронной
            почте:
        </p>
        <ul>
            <li>новостей об изменениях цен на интересующие Пользователя даты и направления перелётов,</li>
            <li>новостную и рекламную рассылку от Aviasales.&nbsp;</li>
        </ul>
        <p>
            Пользователь выражает согласие, что оформление и/или использование Пользователем соответствующей подписки
            расценивается как согласие Пользователя на:
        </p>
        <ul>
            <li>
                использование адреса электронной почты Пользователя для направления Пользователю и получения им
                соответствующих
                писем от Владельца сервиса или уполномоченных им лиц,
            </li>
            <li>
                получение интегрированной в рассылку рекламной информации Владельца сервиса и третьих лиц (сторонних
                рекламодателей).
            </li>
        </ul>
        <p>
            В случае несогласия Пользователя с указанным в настоящем пункте условием, Пользователь обязан отказаться от
            получения
            рассылки перейдя по соответствующей ссылке для отписки, которая доступна в каждом письме.
        </p>
        <p>
            2.7. Средствами Сервиса Пользователю предоставляется возможность персонифицировать функционал Сервиса под
            собственные
            нужды. Пользователь выражает согласие, что факт авторизации Пользователя на Сервисе и использования
            присвоенной
            Пользователю учетной записи на Сервису, расценивается как согласие Пользователя на обработку данных учетной
            записи
            для определенных в п.1.2. целей функционирования Сервиса.
        </p>
        <p><strong>3. Ответственность</strong></p>
        <p>
            3.1. Функционал Сервиса предоставляется на условиях «как есть» (as is). Владелец сервиса не предоставляет
            никаких
            гарантий в отношении безошибочной и бесперебойной работы Сервиса, отдельных его частей, компонентов или
            функций,
            соответствия функционала Сервиса конкретным целям и ожиданиям Пользователя, не гарантирует достоверность,
            точность,
            полноту и своевременность предоставляемой Сервисом данных, а также не предоставляет никаких иных гарантий,
            прямо не
            указанных в настоящих Правилах.
        </p>
        <p>
            3.2. Владелец сервиса не несет ответственности за какие-либо прямые или косвенные последствия какого-либо
            использования или невозможности использования Сервиса (включая данные) и/или ущерб, причиненный Пользователю
            и/или
            третьим сторонам в результате какого-либо использования, неиспользования или невозможности использования
            Сервиса
            (включая данные) или отдельных его компонентов и/или функций, в том числе из-за возможных ошибок или сбоев в
            работе
            Сервиса.
        </p>
        <p>
            3.3. Пользователь обязуется использовать Сервис в соответствии с законами той страны, в которой он находится,
            и
            принимает на себя ответственность нарушение установленных национальным законодательством ограничений на
            использование Сервиса.
        </p>
        <p>
            3.4. Пользователь самостоятельно несет ответственность перед третьими лицами за свои действия, связанные с
            использованием Сервиса, в том числе, если такие действия приведут к нарушению прав и законных интересов
            третьих лиц,
            а также за соблюдение применимого законодательства при использовании Сервиса.
        </p>
        <p>
            3.5. В случае возникновения любых спорных ситуаций Пользователь перед обращением в судебные органы за
            разрешением
            спора обязан предпринять меры для досудебного урегулирования, направив соответствующее письмо по адресу
            Владельца
            сервиса, а также его электронную копию по адресу:&nbsp;<a href="mailto:help@aviasales.ru">help@aviasales.ru</a> c
            четким
            описанием спорной ситуации и связанных с ней обстоятельств.&nbsp;Срок рассмотрения и ответа на претензию: 30 дней
            с
            момента ее получения Владельцем сервиса.
        </p>
        <p><strong>4. Права на Сервис</strong></p>
        <p>
            4.1. Права на интеллектуальную собственность, в том числе результаты интеллектуальной деятельности,
            включенные в
            состав Сервиса и/или используемые им, такие как тексты, изображения, дизайн, базы данных, ноу-хау, торговые
            марки,
            фирменные наименования и иные средства идентификации и т.п., а также доменные имена, принадлежат Владельцу
            сервиса
            или третьим лицам – правообладателям, и предоставлены Владельцу по лицензии либо размешаются Владельцем по
            поручению
            правообладателей.&nbsp;
        </p>
        <p>
            4.2. Объекты интеллектуальной собственности, исключительные права на которые не принадлежат Владельцу
            сервиса,
            размещаются Владельцем исключительно с целью доведения до Пользователей сведений о конкретной авиакомпании,
            агентстве, системе бронирования и т.п., информация об услугах которых доступна на Сервисе.
        </p>
        <p>
            4.3. Использование указанных в п. 4.1. объектов интеллектуальной собственности возможно только в рамках
            функционала,
            предлагаемого Сервисом. Пользователь соглашается, что использование Сервиса не предоставляет ему никаких
            прав в
            отношение указанных объектов интеллектуальной собственности, за исключением прав, явно указанных в Правилах.
        </p>
        <p><strong>5. Изменение Правил</strong></p>
        <p>
            5.1. Владелец сервиса вправе в любое время и без предварительного уведомления изменить настоящие Правила в
            одностороннем порядке. Уведомление Пользователя о внесенных изменениях в условия Правил и их актуальная
            редакция
            публикуется на странице:&nbsp;<a href="https://aviasales.ru/terms-of-use">https://aviasales.ru/terms-of-use</a>.&nbsp;
        </p>
        <p>
            5.2. Изменения Правил вступают в силу с даты их публикации, если иное не оговорено в соответствующей
            публикации.
        </p>
    </div>
</div>
</section>