a {
  color: #0d6ef0; }
  a:hover {
    color: #0a58c0; }

.l1 {
  color: #0c131d; }
  .l1:hover {
    color: #0d6ef0; }

.l1-inv {
  color: #0d6ef0; }
  .l1-inv:hover {
    color: #0c131d; }

.l2 {
  color: #0c131d; }
  .l2:hover {
    color: #ff8507; }

.l4 {
  color: #ffffff; }
  .l4:hover {
    color: #f2f2f2; }

.t1 {
  color: #0d6ef0; }

.t2 {
  color: #ff8507; }

.t3 {
  color: #35c768; }

.t4 {
  color: #ffffff; }

.t5 {
  color: #0c131d; }

.t6 {
  color: #a0abb8; }

.bg1 {
  background-color: #0d6ef0;
  color: #ffffff; }

.bg2 {
  background-color: #ff8507;
  color: #ffffff; }

.bg3 {
  background-color: #35c768; }

.bg4 {
  background-color: #ffffff; }

.bg5 {
  background-color: #0c131d; }

.bg6 {
  background-color: #a0abb8; }

.bg7 {
  background-color: #f3f5f7; }

.btn-blue {
  background-color: #0d6ef0;
  color: #ffffff; }
  .btn-blue:hover {
    background-color: #3c8bf4; }

.btn-orange {
  background-color: #ff8507;
  color: #ffffff; }
  .btn-orange:hover {
    background-color: #ff9e3a; }

.btn-white {
  background-color: #ffffff;
  color: #0c131d; }
  .btn-white:hover {
    background-color: #e6e6e6;
    color: #0d6ef0; }

.btn-white2 {
  background-color: #ffffff;
  color: #0d6ef0;
  border: 1px solid #0d6ef0; }
  .btn-white2:hover {
    background-color: #0d6ef0;
    color: #ffffff; }
