.container {
    max-width: 1180px;
    position: relative;
}

body{
    line-height: 1.25;
    font-size: 14px;
}
.body-item{
    overflow: hidden;
}

a {
    &:hover {
        text-decoration: none;
    }
}

header {
    .navbar {
        .navbar-brand {
            margin-top: -5px;
        }

        .nav-link {
            &.btn {
                line-height: 1.2;
                font-size: 14px;
            }
        }
    }
}

.services-promo__feature {
    padding: 20px;
    border-radius: 10px;

    &:hover {
        box-shadow: 10px 0 20px #e3e9f0;
    }

    img {
        margin-bottom: 10px;
    }

    .btn {
        margin-top: 10px;
    }
}

.carousel-section {
    margin-top: 30px;

    .carousel {
        margin-top: 14px;

        .carousel-description {
            margin-top: 8px;
            text-align: center;
        }

        a.carousel-control-next {
            &:hover {
                background: linear-gradient(-90deg, #bbdefa, transparent);
            }

            .carousel-control-next-icon {
                margin-right: -30px;
            }
        }

        a.carousel-control-prev {
            &:hover {
                background: linear-gradient(90deg, #bbdefa, transparent);
            }

            .carousel-control-next-icon {
                margin-left: -30px;
            }
        }
    }

    .btn-sm {
        margin: 0 4px;

        span {
            svg {
                margin-top: -4px;
            }
        }
    }
}

.home-footer-items {
    margin-top: 30px;

    ul {
        list-style: none;
        padding-left: 0;
        line-height: 1.75;
        padding-top: 8px;

        a {
            &:hover {
                text-decoration: none;
            }

            &.l1-inv {
                padding-top: 8px;
                font-weight: bold;
            }
        }
    }
}

.about-item {
    padding: 30px 40px;
    text-align: left;
    border-right: 1px solid #d8dfe2;
    border-bottom: 1px solid #d8dfe2;

    &:nth-child(3n) {
        border-right: 0;
    }

    &:nth-child(n+4) {
        border-bottom: 0;
    }

    a {
        font-size: 16px;
        display: flex;
        align-items: center;

        img {
            margin-right: 20px;
        }
    }
}

.about-question {
    padding-top: 30px;

    .about-question-block {
        padding-top: 30px;

        ul {
            line-height: 2;
            font-size: 16px;
        }

        .collapse.show {
            margin-bottom: 10px;
        }

        .card {
            padding: 6px 12px 8px;
            line-height: 1.25;
        }
    }
}

.main-filter {
    position: relative;
    padding-bottom: 10px;
    margin-bottom: 30px;

    &:before {
        content: '';
        top: -20px;
        bottom: 0;
        left: -99999px;
        right: -99999px;
        background: #0d6ef0;
        position: absolute;
        z-index: -10;
    }

    .btn-bg {
        padding-left: 0;
        padding-right: 0;
        width: 100%;
    }

    select.form-control {
        height: 59px;
        padding-top: 6px;
        padding-bottom: 6px;
    }
}

.custom-filter {
    .filter-item {
        border-bottom: 1px solid #f3f5f7;

        a {
            width: 100%;
            display: flex;
            padding: 10px 16px;
            align-items: center;

            &:before {
                content: '\25B2';
                font-size: 10px;
                color: #b5b5b5;
                padding-right: 10px;
            }

            &.collapsed:before {
                content: '\25BC';
            }
        }

        .filter-item-values {
            padding: 4px 16px 10px;
        }
    }

    .filter-buttons {
        padding: 16px;
        justify-content: space-between;
    }
}
.aircraft-up {
    transform: rotate(-45deg);
}

.aircraft-down {
    transform: rotate(45deg);
}
.rate-not-paid {
    opacity: .5;
    background-color: #eee;
}

.offer-items {
    margin-bottom: 30px;
    padding: 10px 16px;

    &.offer-disable {
        opacity: .5;
        background-color: #eee;
    }

    .aircraft-up, .aircraft-down {
        display: inline-block;
        font-size: 18px;
    }

    .aircraft-path {
        position: relative;
        width: 100%;
        height: 5px;
        border-radius: 4px;
        opacity: .5;
        margin-top: 6px;
    }

    .col-md-9 {
        padding-right: 0;
    }

    .flex-row {
        align-items: center;
        justify-content: space-between;

        .form-group.col-xs-3.col-md-3 {
            padding: 0;
        }
    }

    .aircraft-progres {
        justify-content: space-between;
        align-items: baseline;
    }

    .offer-buy {
        width: 100%;
        font-weight: 600;
    }
}
.check-info, .check-false, .check-true {
    padding-bottom: 3px;

    &:before {
        font-size: 17px;
        padding-right: 4px;
        line-height: 1;
    }
}

.check-true:before {
    content: '\2714';
}

.check-false:before {
    content: '\2716';
}

.check-info:before {
    content: '\2755';
}

.add-ticket {
    .add-list-footer {
        margin-top: 20px;

        .flex {
            justify-content: space-between;
        }
    }
}
.list-head {
    padding: 10px 16px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.rate-items {
    margin: 0 -6px -12px;

    .col-xs-6.col-md-4 {
        padding: 0 6px 12px;
    }
}

.rate-item {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 10px;

    .flex-row {
        align-items: center;

        label, div.mb-0 {
            padding-left: 10px;
            font-size: 16px;
            width: 100%;
            cursor: pointer;
        }
    }

    .rate-item-about {
        margin-left: 5px;
    }
}
.passengers-tab {
    .list-item {
        padding-bottom: 16px;
    }
}

.list-info {
    margin: 0 0 20px 0;
    padding: 16px 0 0;

    .aircraft-up, .aircraft-down {
        display: inline-block;
        background: #eee;
        border-radius: 50px;
        padding: 6px 8px;
        font-size: 24px;
        margin: 0 15px;
    }

    .aircraft-progres .flex-row {
        margin-bottom: 10px;

        div:first-child {
            width: 25%;
        }

        .progres-bar {
            width: 4px;
            height: 70px;
            background-color: #eee;
            margin-top: -18px;
            margin-bottom: -18px;
            margin-left: 32px;
        }
    }
}

.list-item {
    margin: 16px 0;
    border: 1px solid #ddd;
    padding: 8px 0;
    border-radius: 4px;

    .row > div {
        margin-bottom: 10px;
    }

    .list-payment-status {

        .check-false:before, .check-true:before {
            font-size: 34px;
        }
    }

    .bold {
        font-size: 15px;
        padding-bottom: 4px;
        margin-top: 8px;
    }

    .list-item-name, .list-item-value {
        display: inline-block;
        padding-top: 2px;
    }

    .list-item-name {
        width: 30%;

        & ~ .list-item-value {
            width: calc(70% - 10px);
            padding-left: 10px;
        }
    }

    .list-item-button {
        width: 49%;
        padding-bottom: 4px;
        display: inline-block;

        button, a {
            width: 100%;
        }
    }
}


@media (min-width: 768px) {
    .main-filter {

        .form-group {
            margin-bottom: 0;

            &.button-block {
                padding-left: 0;
            }
        }
    }
    .list-item {
        .list-item-button {
            width: 100%;
        }

        .list-payment-status {
            text-align: center;
        }
    }
}

.manual-filters {
    .tab-pane {
        padding-top: 16px;
    }

    .nav-link {
        font-size: 18px;
        padding: 10px 24px;
    }
}