@{
    ViewData["Title"] = "Error";
}
<div class="row">
    <div class="col-xs-12 col-md-10 offset-md-1 pt-5 text-c">
        <h5>Просим прощения, при оформлении произошла ошибка!</h5>
        <div>Свяжитесь с администратором.</div>
    </div>
</div>