@{
    ViewData["Title"] = "Report";
}
<div class="row">
    <div class="col-12 col-md-10 offset-md-1 pt-5 text-c">
        <h5>Отчеты скоро будут!</h5>
        <div>В прототипе не предусмотрены</div>
    </div>
</div>