@{
    ViewData["Title"] = "Success";
}
<div class="row">
    <div class="col-xs-12 col-md-10 offset-md-1 pt-5 text-c">
        <h5>Спасибо, бронь оформлена!</h5>
        <div>Для получения билета и транспортной квитанции на электронную почту оплатите бронь.</div>
    </div>
</div>